/* VARIABLES, MIXINS */

@bgcolor: #050102;
@fontcolor: #f1f1f1;
@font1: 'Rock Salt', cursive;
@font2: sans-serif;

.section-bg {
  width: 150px;
  height: 330px;
  background-color: @bgcolor;
  float: left;
  padding: 20px 50px;
  margin: 20px 0;
}

.box-shadow {  
  box-shadow: 10px 10px 10px #000; 
} 


/* GLOBAL STYLES */
html {
  margin: 0;
  padding: 0;
  
  .ng-scope {
    margin: 0;
    padding: 0;
  }
}

body {
  background-color: #7d7568;
  position: relative;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 3px;
  font-size: 11px;
  font: @font2;
  margin: 10px 5px 0 0;  
} 

.l-btn-main {
  width: 100px;
  height: 30px;
  display: block;
  margin: 10px auto;
}

.l-btn-success {
  width: 30px;
  height: 30px;
}
.l-btn-danger {
  width: 30px;
  height: 30px;
}
.l-btn-light {
  width: 100px;
  height: 30px;
}      


label {
  font-family: @font1;
  font-size: 12px;
  float: left;
}

input {
  clear: both;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
}

h2 {
  font-family: @font1;
  letter-spacing: .2em;
  color: @fontcolor;
  margin: 0 20px;
}

.l-header {  
  h1 {
    font-family: @font1;
    letter-spacing: .2em;
    font-size: 2em;
    color: @fontcolor;
    background-color: @bgcolor;
    padding-left: 5%;
    
    .ng-binding {
      margin: 0;
      padding: 0;
    }
  }  
}

.wrapper2 {
  background-image: url(/images/charcoal2.jpg);
  width: 850px;
  height: 420px;
  margin: 0 auto;
  .box-shadow;
  position: relative;
}

// CREATE PROFILE
.wrapper {
  .section-bg;
  .box-shadow;
  clear: both;
  color: @fontcolor;
  position: absolute;
  top: 5px;
  left: 165px;
}
  

// FRIENDS
.l-container {
  .section-bg;
  .box-shadow;
  color: @fontcolor;
  position: absolute;
  top: 5px;
  left: 445px;
}

