<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/styles3.css">
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>DevMtin</title>
</head>

<body ng-controller="HomeCtrl">
	<div class="l-header">
		<h1>{{myProfile.name || 'Your Name'}}</h1>
	</div>
  
  <div class="wrapper">  
    <div>
      <h2>Profile</h2>
      <button class="l-btn l-btn-main" ng-click="toggleEdit()">Editing : {{editing}}</button>
    </div>

    <div ng-class="{'l-form': editing}">      
<!--       <label for="name"> Name: </label> -->
      <input ng-disabled="!editing" ng-class="{noEdit: !editing}" id="name" type="text" placeholder="Your Name" ng-model="myProfile.name">
      <br />
<!--       <label for="likes"> Likes: </label> -->
      <input ng-disabled="!editing" ng-class="{noEdit: !editing}" id="likes" type="text" placeholder="Likes" ng-model="myProfile.likes">
      <br />
<!--       <label for="favColor"> Favorite Color: </label> -->
      <input ng-disabled="!editing" ng-class="{noEdit: !editing}" id="favColor" type="text" placeholder="Favorite Color" ng-model="myProfile.favColor">
      <br />
      <button class="l-btn l-btn-success" ng-click="saveProfile()">Save</button>
      <button class="l-btn l-btn-danger" ng-click="deleteProfile()">Delete</button>
    </div>
  </div> <!-- end wrapper -->

  <div class="l-container">
    <h2>Friends</h2>
<!--    <label> Find Friends: </label> -->
    <button class="l-btn l-btn-main" ng-click="searchFriends(friendSearch, myProfile._id)">Go</button>
    <input type="text" placeholder="Find Friends" ng-model="friendSearch">    
    <div class="friendList" ng-repeat="friend in myProfile.friends">
      <span ng-click="deleteFriend(friend._id)" class="closeBtn"></span>
      {{friend.name}}
      <br />
      <div class="secondConnection friendList" ng-repeat="secondConnection in friend.friends">
        {{secondConnection.name}}
      </div>
    </div>
  </div>
  
	<div ng-if="potentialFriends.length" id="myModalMask">
		<div id="myModal">
			<div>
				<div class="modalTitle">
				<span ng-click="closeModal()" class="closeBtn"></span>
					Add Friends
				</div>
					<br />
				<div class="friendList" ng-repeat="potentialFriend in potentialFriends">
					<span class="friend" ng-click="addFriend(potentialFriend)"></span>
					{{potentialFriend.name}}
					</div>
			</div>
		</div>
	</div>
  
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="components/home/homeCtrl.js"></script>
	<script src="components/home/friendService.js"></script>
</body>

</html>
